body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  color: #4d4e53;
}

header, h2{
  font-size: 28px;
  font-weight: 200;
  color: black;
}

nav{
  position: fixed;
  left:0;
  width: 300px;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

nav header{
  position: fixed;
  background-color:white;
  width:280px;
  top:0;
  height: 60px;
  align-items: center; 
  justify-content: center;
  padding-left: 20px; 
}

main{
  margin-left: 300px;
  border-left: 1px solid black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items:stretch;
}

@media(max-width: 700px){
  nav{
    position: relative;
    width:100%;
    display: flex;
    flex-direction: column;
  }
  nav header{
    position: relative;
    height: 60px;
    align-items: center; 
    justify-content: center;
    padding-left: 20px; 
  }
  main{
    margin-left: 0;
  }
}

nav a{
  text-decoration: none;
  color: inherit;
  display: block;
  border-top: 1px solid black;
  height: 40px;
  padding-left: 20px;
  line-height: 40px;
}

code{
  display: block;
  font-size: 13px;
  background-color: #f7f7f7;
  padding-left: 20px;
}

article{
  padding-left: 20px;
}

li{
  padding: 0 0 0.5em 0;
}

section{
  margin: 20px 0;
}