body{
    font-size: small;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    line-height: 1.6em;
}

h1, h2{
    color: #007e7e;
}

h1{
    font-size: 1.5em;
}

h2{
    font-size: 1.3em;
}

#guarantee{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    line-height: 1.9em;
    color: #444444;

    padding: 25px;
    padding-left: 80px;
    background-color: #a7cece;
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 7%;

    border-color: white;
    border-width: 1px;
    border-style: dashed;
    border-radius: 15px;

    margin: 30px;
    margin-right: 250px;
}

@media screen and (min-device-width: 481px){
    #guarantee{
        margin-right: 250px;
    }
}

@media screen and (max-device-width: 480px){
    #guarantee{
        margin-right: 30px;
    }
}

@media print{
    body{
        font-family: 'Times New Roman', Times, serif;
    }
}

p.specials{
    color:red;
}

#elixirs{
    background-image: url("images/arrow2.png");
    background-repeat: repeat-x;
    background-size: 25%;
    width: 200px;
    text-align: center;
    line-height: 1;

    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;

    border-width: thin;
    border-style: solid;
    border-color: #007e7e;

    margin-left: 20px;
    
    float: right;
}

#elixirs>h2{
    color:black;
}

#elixirs>h3{
    color: #d12c47;
}

.cd{
    font-style: italic;
}

.artist{
    font-weight: bold;
}

#elixirs a:link{
    color:#007e7e;
}

#elixirs a:visited{
    color: #333333;
}

#elixirs a:hover{
    background: #f88396;
    color: #0d5353;
}
